[Unit]
Description=NetworkGames setup access point DHCP
After=networkgames-setup-hostapd.service
Requires=networkgames-setup-hostapd.service

[Service]
Type=simple
User=dnsmasq
Group=nogroup
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground --conf-file=/etc/networkgames-dnsmasq.conf --pid-file=
Restart=on-failure
RestartSec=2s
RuntimeDirectory=networkgames-dnsmasq
RuntimeDirectoryMode=0750
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_PACKET AF_INET AF_INET6
